/*** FORMS ***/

label,
fieldset legend {
    font-weight: bold;
}

input:not([type='checkbox']):not([type='radio']),
button,
select,
textarea,
fieldset,
fieldset legend {
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background: #fff;
    transition: none 0.2s ease-in;
    transition-property: border-color, background, box-shadow;
}

input:not([type='checkbox']):not([type='radio']),
button,
select,
textarea {
    padding: 0.5em 1em;
    outline: 0 none;
    font-size: 1rem;
}

input:focus:not([type='checkbox']):not([type='radio']),
button:focus,
select:focus,
textarea:focus {
    border-color: #2eae9b;
    box-shadow: 0 0 8px #2eae9b;
}

input:focus,
button:focus,
button:hover {
    background: #f5f5f5;
    cursor: pointer;
}

textarea,
select {
    vertical-align: bottom;
    overflow: auto;
}

fieldset {
    padding: 1em;
    background: #f5f5f5;
}

fieldset legend {
    padding: 0 0.5em;
}

fieldset label,
fieldset input,
fieldset button,
fieldset select,
fieldset textarea {
    margin: 0.2em 0.5em;
}

fieldset label:first-child,
fieldset input:first-child,
fieldset button:first-child,
fieldset select:first-child,
fieldset textarea:first-child {
    margin-left: 0;
}

fieldset label:last-child,
fieldset input:last-child,
fieldset button:last-child,
fieldset select:last-child,
fieldset textarea:last-child {
    margin-right: 0;
}

/* Firefox input size fix */

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
