/*** UTILITIES ***/

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.image {
    display: block;
    margin: 0 auto;
}

.image.xsmall {
    width: 20%;
}

.image.small {
    width: 40%;
}

.image.large {
    width: 60%;
}

.image.xlarge {
    width: 80%;
}

.image.float-left {
    float: left;
    margin: 1em 2em 1em 0;
}

.image.float-right {
    float: right;
    margin: 1em 0 1em 2em;
}

.image img {
    display: block;
    width: 100%;
}
