// $base-color: #00f !default; // blue
$base-color: #c6538c; // light pink
$border-dark: rgba($base-color, 0.88) !default;
$alert-box-size: 200px !default;

$text-color: #033a32 !default;
$line-color: #2eae9b;

$text-color2: #04c444 !default;

