// $base-color: #00f !default; // blue
$base-color: #c6538c; // light pink
$border-dark: rgba($base-color, 0.88) !default;
$alert-box-size: 200px !default;

$text-color: #033a32 !default;
$line-color: #2eae9b;

$text-color2: #04c444 !default;
$header-color: #466a7a;
// $header-color: #24a1a1;
$header-color-lighten: lighten($header-color, 20%);
$link-color: #24a1a1;
$link-color-visited: lighten($link-color, 70%);
$nav-color: #345252;

//nedan hämtade från Aurora
$font-alternative-color: rgb(241, 241, 241);
$accent-color: rgba(217, 100, 70, 100);
$font-color: #24a1a1;
$background-alternative-color: rgba(255, 255, 255, 0.1);

